name: Node ja App

on:
  push:
    branches:
      - main

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.Docker_UNAME }}
          password: ${{ secrets.Docker_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: basil6789/nodeapp:555

  deploy:
  runs-on: ubuntu-latest
  needs: prepare
  steps:
    - name: SSH to server and deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}              
        username: ${{ secrets.HOST_NAME }}     
        key: ${{ secrets.KEY }}                
        script: |
          echo "Pull latest Docker image"
          docker pull ${{ secrets.Docker_UNAME }}/nodeapp:555
          docker stop nodeapp || true
          docker rm nodeapp || true
          docker run -dp 81:3000 --name nodeapp ${{ secrets.Docker_UNAME }}/nodeapp:555latest
