name: Node ja App

on:
  push:
    branches:
      - main

jobs:

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name:  Checkout repo
        uses: actions/checkout@v4

      - name: Extract version 
        run: |
          VERSION=$(jq -r .version package.json)
          echo "VERSION=$VERSION)" >> $GITHUB_ENV

      - name: Debugging the etracted version
        run: echo $VERSION    
  docker:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.Docker_UNAME }}
          password: ${{ secrets.Docker_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: basil6789/nodeapp:555

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          
          host: ${{ secrets.HOST }}              
          username: ${{ secrets.HOST_NAME }}     
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            echo "Remote deploy"
            docker pull basil6789/nodeapp:555
            docker stop nodeapp || true
            docker rm nodeapp || true
            docker run -d -p 81:3000 --name nodeapp basil6789/nodeapp:555
            docker ps 
