name: Node ja App

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.Docker_UNAME }}
          password: ${{ secrets.Docker_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: basil6789/nodeapp:555

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: ssh to server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          
          host: ${{ secrets.HOST }}              
          username: ${{ secrets.HOST_NAME }}     
<<<<<<< HEAD
run: echo "local deploy" 
          
=======
run: echo "Remote deploy"         
          
>>>>>>> f06f6c3de1173fb164e77091a65e5affdc1f6e33
          
run: echo "combined deploy step"
