name: Node ja App

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.Docker_UNAME }}
          password: ${{ secrets.Docker_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: basil6789/nodeapp:555

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          
          host: ${{ secrets.HOST }}              
          username: ${{ secrets.HOST_NAME }}     
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            echo "Remote deploy"
            docker run -dp --name nodeapp 81:3000 basil6789/nodeapp:555
